*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}
.main-article{
    position: relative;
}
main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.precio-descuento{
    display: flex;
}
.price{
    width: 30%;
}
.discount{
    width: 70%;
}
.top-header{
display: flex;
flex-wrap: wrap;
align-items: center;
}

.cuotas{
    margin: auto;
}
.navegacion{
    display: none;
}
.busqueda button{
    position: relative;
    left:-18px;
    border: none;
    background-color: white;
}
#item1,
 #item2,
 #item3{
   width: 2em;
   margin-bottom: 10px;
   margin: auto;
 }
footer{
    text-align: center;
}
.copyright{
    margin-top: 10px;
}
main section article .description{
    display: none;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
    .footer{
        display: flex;
        margin-top: 20px;
    }

    .burger-menu{
        display: none
    }
    .navegacion{
        padding-bottom: 15px;
        
    }
    .busqueda button{
        position: static;
        background-color: lightgray;
        border: 1px black solid;
    }
    .busqueda input{
        width: 20vw;
        margin-left: 50px;
    }
    .products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
   header div .logo{
        max-width: 500px;
        width: 25%
    }
    .top-header{
        flex-wrap: nowrap;
    }
    .busqueda{
        margin-left: 20px;
    }
    .cuotas{
        margin-left: 40px;
    }
    .products article{
        width: 48%;
        margin: 5px 5px;
    }
    .navegacion{
        display: flex;
        justify-content: space-between;
    }
    .navegacion ul{
        display: flex;
    }
    .navegacion a{
        padding: 20px;
    }
}
@media(min-width:1200px){
    main article{
        height: 376px;
        overflow: hidden;
        transition: all .3s;
    }
    main article:hover{
        height: 405px;
    }
    .products article{
        width: 23%;
        margin: 15px 10px;
    }
    .top-header{
        margin-left: 100px;
    }
    .cuotas p{
        font-size: 16px;
    }
    main section article{
        box-shadow: none;
        transition: all .3s;
    }
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .camion{
        transition: all .3s;
    }
    .camion:hover{
        transform: rotate(-90deg);
    }
    footer i:hover{
        color:blueviolet
    }
    footer i{
        transition: all .3s;
    }
    .copyright{
        text-align: left;
        margin-top: 25px;
    }
    .navegacion{
        font-size: 1rem;
    }
    .cuotas{
        margin-left: 75px;
    }
    .busqueda form{
        font-size: 1rem;
    }
    .mano{
        font-size: 1.5rem;
    }
    .busqueda input{
        height: 5vh;
        font-size: 15px;
    }
    .busqueda button{
        height: 5vh;
        width: 3vw;
    }
    .lupa{
        font-size: 15px ;
    }
}
